<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
    The global automotive repair and maintenance services industry is forecast to grow at a double-digit compound annual rate between 2015 and 2025, according to Future Market Insights, driven by increasing vehicle production and growing demand from emerging markets, notably China and India. The US automotive repair and maintenance services industry includes about 160,000 establishments (single-location companies and units of multi-location companies) with combined annual revenue of about $115 billion.
    </p>
    <h2>Our Values</h2>
    <p>
        <h3>Customer Satisfaction</h3> 
        The most striking feature of independent auto repair shops is the customer satisfaction that they ensure and that has
        also stood them apart from the dealership. Mechanics are able to ensure customer satisfaction as it is easier for them
        to have a direct relationship with the customer. 
    </p>
    
    <p>
        <h3>Our Technical Prowess</h3>
        Independent auto repair shops encourage their staff members to keep adding on to their skills. The industry is
        competitive; there are new parts, new tactics involved in repairing them. There are new engines being introduced by
        companies like the VW, and then there are new programming involved in the electronic module system. 
    </p>
    <p>
        <h3>Tailored and Affordable Service</h3>
        <p>
        People who want to get services from independent auto repair shops are recommended to look for their certification of
        Automotive Service Excellence (ASE). You could also ask for references for a credible mechanic by asking from friends
        and family. The Internet also provides ease of access to the reviews.</p>
    </p>

    <a href="index.html"><h3>Back to Home</h3></a>
  </body>
</html>
