<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h2>Current Bookings</h2>
    <table class="table table-bordered table-striped table-condensed">
      <thead class="thead-dark">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Appointment Date</th>
          <th>Appointment Time</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="tempCustomer : ${customerList}">
          <td th:text="${tempCustomer.firstName}" />
          <td th:text="${tempCustomer.lastName}" />
          <td th:text="${tempCustomer.email}" />
          <td th:text="${tempCustomer.bookingDate}" />
          <td th:text="${tempCustomer.bookingTime}" />
        </tr>
      </tbody>
    </table>
  </body>
</html>
