<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>Home page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="body">
<div class="container">
<h1>Welcome to Auto-Service Center</h1>
<p>
    <h3 class="bg-success">What we do?</h3>
    <blockquote>
     <p>We are a Auto Service Company.We perform preventive maintenance, general repairs and safety checks to keep your vehicle in
    good shape.</p>
    </blockquote>
</p>

<p>
  <p>
  <button type="button" class="btn btn-warning "><a href="bookings.html"><h5>Bookings</h5></a></button>
  </p>
  <p>
  <button type="button" class="btn btn-warning"><a href="about.html"><h5>About Us</h5></a>
  </button> 
  </p> 
  
</p>

<address>
  <strong>Auto-Service, Inc.</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  (123) 456-7890
</address>


</div>







</body>



</html>