<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Form</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h3 class="bg-success">Enter your information:</h3>
    <form
      action="#"
      th:action="@{/updateDetails}"
      th:object="${customer}"
      method="GET"
    >
      <input type="text" th:field="*{email}" placeholder="Enter Your Email" />
      <button type="submit" class="btn btn-warning">Update Appointment</button>
    </form>
  </body>
</html>
